@media (max-width: 1200px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 35px;
    }

    .container1 {
        margin-left: 100px;
        margin-right: 100x;
        margin-bottom: 80px;
    }

    .container-logo {
        margin-left: 100px;
        margin-right: 100px;
        /* margin-bottom: 80px; */
    }



    .box1-mr-right {
        margin-right: 20px;
    }

    .main-menu-mr {
        margin-right: 30px;
    }

    .box1.mr-left {
        margin-left: 30px;
    }

    .container-full.pd-primary.flex.text-center,
    .container1-light-col {
        padding-left: 100px;
        padding-right: 100px;
    }

    .box {
        padding: 30px 10px 30px 10px;
    }

    .star {
        bottom: -30%;
    }

    .container-light2 {
        padding-left: 100px;
        padding-right: 100px;
    }

    .container-center {
        margin-left: 100px;
        margin-right: 100px;
    }

    .pd-right1.mr-top {
        padding-left: 60px;
    }

    .container-center.mr-top {
        flex-wrap: wrap;
    }

    .pd-blue.width5 {
        padding-left: 10px;
    }

    .container-full-2 {
        flex-wrap: wrap;
    }

    .width-rsp1 {
        width: 33.33%;
    }

}

@media (max-width: 991.98px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 30px;
    }

    .container1.after-rsp {

        flex-direction: column-reverse;

    }

    /* .img-width1 {
        margin-bottom: 60px;
    } */

    .main-menu {
        display: none;
    }

    .burger-menu-nav.is-open {
        left: 0%;
        transition: left .3s;
    }

    .burger-menu.is-open span:nth-of-type(1) {
        display: block;
        margin: 0px;
        transform: rotate(45deg);
        transform-origin: 0px -3px;
        transition: transform .3s;

    }

    .burger-menu.is-open span:nth-of-type(2) {
        opacity: 0;
        transition: opacity .3s;
    }

    .burger-menu.is-open span:nth-of-type(3) {
        display: block;
        margin: 0px;
        transform: rotate(-45deg);
        transform-origin: 0px 6px;
        transition: transform .3s;
    }

    .burger-menu {
        display: block;
        z-index: 90;
    }

    .burger-menu span {
        position: relative;
        z-index: 100;
    }

    .logo-icon {
        justify-content: flex-start;
    }

    .flex.mr-primary {
        flex-wrap: wrap;
        margin-left: 100px;
        margin-right: 100px;
    }

    .flex.flex-responsive {
        flex-wrap: wrap;
        justify-content: center;

    }

    .border-box.box-size {
        width: 100%;
        /* margin-left: 100px;
        margin-right: 100px; */
    }

    .mr-primary.mr-bottom {
        margin-left: 100px;
        margin-right: 100px;
    }

    .flex.align-center.space-between {
        flex-direction: column;
        align-items: flex-start;
    }

    .box1.mr-left {
        width: 100%;
        margin-left: 0px;
    }

    .width5.img-responsive {
        width: 100%;
    }

    .container1-light {
        padding-left: 100px;
        padding-right: 100px;
        flex-direction: column;
        padding-bottom: 0px;
    }

    .container-full.pd-primary.flex.text-center {
        flex-direction: column;
    }

    .box.flex.width5 {
        width: 100%;
    }

    .container1.mr-top.relative {
        padding-bottom: 90px;
    }

    .star {
        bottom: -13%;
    }

    .container-light2 {
        flex-wrap: wrap;
    }

    .box1-mr-right {
        margin-top: 40px;
        margin-bottom: 70px;
    }

    .text-gray.mr-right {
        margin-bottom: 40px;
    }


    .pd-right1.mr-top {
        width: 100%;
        padding: 0px;
    }

    .mr-top.width-rsp {
        width: 100%;
        padding: 0px;
    }

    .container1-light.flex-end {
        align-items: flex-start;
        padding-bottom: 40px;
    }

    .text-mr {
        margin-bottom: 40px;
    }

    .flex.pd-primary.bg-light.space-between {
        padding-left: 100px;
        padding-right: 100px;
        flex-wrap: wrap;
    }

    .pd-right.after-rsp {
        padding: 0px;
        margin-bottom: 60px;
    }

    .container1 {
        flex-direction: column;
    }

    .box6.bg-white,
    .pd-blue.width5 {
        width: 100%;
        margin-bottom: 30px;
    }

    .pd-right.width5 {
        padding: 0px;
        width: 100%;
        margin-top: 30px;
    }

    .width5.after-rsp {
        width: 100%;
    }

    .container1-light.align-center {
        flex-direction: column-reverse;
    }

    .txt-after-rsp {
        text-align: center;
    }

    .container1.mr-top {
        align-items: center;
    }

    .main-menu-ft {
        margin-top: 60px;
    }

    .container1.mr-top .flex {
        margin-top: 60px;
    }

    footer .mr-primary {
        margin-left: 100px;
        margin-right: 100px;
    }

    .box5-line-dark.flex.space-between {
        flex-wrap: wrap;

    }

    .container-logo .button-border {
        display: none;
    }

    .box1.width5 {
        width: 100%;
    }

    .flex.bg-red.align-center {
        padding: 40px 20px 40px 20px;

    }

    footer .container1-light {
        align-items: center;
        padding-bottom: 60px;
    }

    footer .pd-primary.bg-light {
        padding-left: 100px;
        padding-right: 100px;
    }

    .container1-light .img-width1.pd-30 {
        padding: 0px 0px 15px 0px;
    }

    .container1-light .flex.width5.after-rsp {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .pd-primary {
        padding-left: 100px;
        padding-right: 100px;
    }

    .box5.flex.space-between.after-rsp {
        justify-content: center;
        flex-wrap: wrap;
    }

    .width5.after-srp,
    .width3,
    .box-size {
        width: 100%;
    }

    .container-center {
        flex-wrap: wrap;
    }

    .mr-primary {
        margin-left: 100px;
        margin-right: 100px;
    }

    .width3-rel.absolute3.mr-primary {
        position: static;
    }

    .relative.bg-light.flex {
        position: static;
        flex-direction: column;
        padding-top: 30px;
    }

}


@media (max-width: 768px) {
    .text-big {
        font-size: 18px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 35px;
    }

    .text-gray,
    .text-gray-white {
        font-size: 14px;
    }

    .container1 {
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 30px;
    }

    .container-logo {
        margin-left: 60px;
        margin-right: 60px;
    }

    .container-full,
    .container1-light-col {
        padding-left: 60px;
        padding-right: 60px;
    }

    .flex.mr-primary {
        margin-left: 0px;
        margin-right: 0px;
    }

    .mr-primary.mr-bottom {
        margin-left: 60px;
        margin-right: 60px;
    }

    .border-box.box-size {
        margin-left: 60px;
        margin-right: 60px;
    }

    .box1.mr-left {
        width: 100%;
        margin-left: 0px;
    }

    .width5.img-responsive {
        width: 100%;
    }

    .container1-light {
        padding-left: 60px;
        padding-right: 60px;
        flex-direction: column;
    }

    .container-full.pd-primary.flex.text-center {
        padding-left: 60px;
        padding-right: 60px;
    }

    .container1.mr-top.relative {
        padding-bottom: 90px;
    }

    .star {
        bottom: -8%;
    }

    .container-light2 {
        padding-left: 60px;
        padding-right: 60px;
    }

    .box.box-size.border-left {
        width: 100%;
    }

    .box.box-size.bg-white.border-bottom {
        width: 100%;
    }

    .box.box-size.border-right {
        width: 100%;
    }

    .container-center {
        margin-left: 60px;
        margin-right: 60px;
    }

    .flex.pd-primary.bg-light.space-between {
        padding-left: 60px;
        padding-right: 60px;

    }

    .pd-primary.bg-light.pd-top {
        padding-right: 60px;
        padding-left: 60px;
    }

    .box5.flex.align-center.space-between {
        flex-direction: column;
        margin-top: 40px;
    }

    .box5.flex.align-center.space-between .flex {
        flex-direction: column;
        width: 100%;
    }

    .field.text-gray.after-rsp {
        width: 100%;
    }

    .button-white.after-rsp {
        width: 100%;

    }

    .width-rsp1 {
        width: 50%;
    }

    footer .mr-primary {
        margin-left: 60px;
        margin-right: 60px;
    }

    .flex.align-center.mr-bottom {
        flex-wrap: wrap;
    }

    .width5.mr-right,
    .text-gray.width5 {
        width: 100%;
    }

    .button-icon-primary {
        width: 60px;
        height: 60px;
    }

    .border-box2,
    .box.bg-white.border-top.box-width {
        width: 100%;
    }

    .border-box2 {
        padding: 15px;
    }

    .flex.justify-end.mr-bottom .width5 {
        width: 100%;
    }

    .flex.bg-red.align-center {
        flex-direction: column-reverse;

    }

    .flex.align-center.mr-bottom .width5.pd-top,
    .width5 {
        width: 100%;
        margin: 0px;
    }

    .box5.flex.space-between {
        flex-wrap: wrap;
    }

    footer .pd-primary.bg-light {
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
    }

    .box5-2.title-box h2 {
        hyphens: manual;
    }

    .absolute2 {
        bottom: 100px;
    }

    .absolute2,
    .absolute {
        left: 30px;
    }

    .relative.width5.pd-pic-right {
        padding: 0px;
        margin-bottom: 30px;
    }

    .relative.width5.pd-pic-left {
        padding: 0px;
        margin-bottom: 30px;
    }

    ul.flex.text-center {
        display: none;
    }

    .form1.mr-small.text-gray.after-rsp {
        display: block;
    }

    .flex.width5.after-rsp .width5 .pd-pic-right {
        padding: 0px 7.5px 7.5px 0px;
    }

    .flex.width5.after-rsp .width5 .pd-pic-left {
        padding: 0px 0px 7.5px 7.5px;
    }

    .mr-primary.mr-bottom.after-rsp {
        text-align: center;
    }

    .flex.pd-primary.bg-light.pd-top {
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    .width5.pd-pic-right,
    .width5.pd-pic-left {
        padding: 0px;
    }

    .pd-primary {
        padding-left: 60px;
        padding-right: 60px;
    }

    .flex.pd-primary.bg-light {
        flex-wrap: wrap;
    }

    .img-width1.pd-pic-left,
    .img-width1.pd-pic-right,
    .img-width1.pd-pic-right2 {
        padding-left: 0px;
        padding-right: 0px;
    }

    /* .box5-2.flex.space-between {
        flex-wrap: wrap;
    } */

    .box5-2.flex.space-between .flex.width5 {
        flex-wrap: wrap;
    }

    .box5-2.flex.space-between h3 {
        margin-bottom: 30px;
    }

    .box5-2.flex.space-between .flex.width5 .form1.text-gray.after-rsp {
        margin-bottom: 15px;
    }

    .flex.width5 .form1 {
        margin-right: 0px;
    }

    .bg-light.pd-primary.pd-bottom {
        padding-top: 40px;
    }

    .border-box2-light {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .container-center .pd-right.mr-top {
        padding: 0px;
    }

    .mr-primary {
        margin-left: 60px;
        margin-right: 60px;
    }
}


@media (max-width: 400px) {
    h1 {
        font-size: 50px;
    }

    h4 {
        font-size: 16px;
    }

    .text-big {
        font-size: 14px;
    }

    .text-gray {
        font-size: 14px;
    }

    .text {
        font-size: 14px;
    }

    .container1 {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .container-logo {
        margin-left: 30px;
        margin-right: 30px;
    }

    .container-full,
    .container1-light-col {
        padding-left: 30px;
        padding-right: 30px;
    }

    .flex.mr-primary {
        margin-left: 0px;
        margin-right: 0px;
    }

    .mr-primary.mr-bottom {
        margin-left: 30px;
        margin-right: 30px;
    }

    .border-box.box-size {
        width: 100%;
        margin: 0px;
    }

    .box1.mr-left {
        width: 100%;
        margin-left: 0px;
    }

    .width5.img-responsive {
        width: 100%;
    }

    .container1-light {
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: column;
    }


    .box.flex.width5 {
        width: 100%;
    }

    .container-full.pd-primary.flex.text-center {
        padding-left: 30px;
        padding-right: 30px;
    }

    .container1.mr-top.relative {
        padding-bottom: 80px;
    }

    .star {
        bottom: -9%;
    }

    .container-light2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .container-center {
        margin-left: 30px;
        margin-right: 30px;
    }

    .flex.pd-primary.bg-light.space-between {
        padding-left: 30px;
        padding-right: 30px;
    }

    .pd-primary.bg-light.pd-top {
        padding-right: 30px;
        padding-left: 30px;
    }

    footer .mr-primary {
        margin-left: 30px;
        margin-right: 30px;
    }

    .border-box2 {
        padding: 5px;
    }

    .button-icon-primary {
        width: 55px;
        height: 55px;
        margin-right: 10px;
    }

    .flex.align-center.mr-bottom .width5.mr-right {
        margin: 0px;
    }

    footer .pd-primary.bg-light {
        padding-left: 30px;
        padding-right: 30px;
    }

    .box5-2.title-box .button-icon-primary-smaller {
        margin: 0px;
    }

    .container1-light-col .width5.flex {
        flex-direction: column;
    }

    .container1-light-col .width5.flex .mr-left {
        margin-left: 0px;
        margin-top: 30px;
    }

    .pd-primary {
        padding-left: 30px;
        padding-right: 30px;
    }

    .bg-light.pd-primary .box5.img-width1 {
        display: none;
    }

    .container1-light {
        padding-top: 30px;
    }

    .container1-light-col .flex.space-between.mr-bottom {
        flex-wrap: wrap;
    }

    .mr-primary {
        margin-left: 30px;
        margin-right: 30px;
    }

}