.box {

    padding: 48px;
    border: solid #F3D1BF 1px;
}

.box-size {
    width: 33.3%;
}

.box6 {
    padding: 48px;
    border: solid #F3D1BF 1px;
    border-radius: 6px;
    width: 50%;
}

.border-box {
    border: solid #3A3C56 1px;
    padding: 16px;
}

.box-width {
    width: 570px;
}

.border-box2 {
    border: solid #3A3C56 1px;
    padding: 40px;
    width: 570px;
}


.box5 {
    padding-top: 48px;
    padding-bottom: 48px;
    border: solid #F3D1BF 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.box5-2 {
    padding-top: 48px;
    padding-bottom: 48px;
    border: solid #F3D1BF 1px;
    border-left: 0px;
    border-right: 0px;
}

.box5-line-dark {
    padding-top: 48px;
    padding-bottom: 48px;
    border: solid #3A3C56 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.box1 {
    flex-wrap: wrap;
    align-content: center;
}

.box1-mr-right {

    margin-right: 130px;
}

.border-right {
    border-radius: 0px 6px 6px 0px;
}

.border-left {
    border-radius: 6px 0px 0px 6px;
}

.border-bottom {
    border-radius: 0px 0px 6px 6px;
}

.border-top {
    border-radius: 6px 6px 0px 0px;
}


.container {
    margin-top: 116px;
    margin-bottom: 80px;


}

.container1 {
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 139px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.container-logo {
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 139px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.container1-light {
    background-color: #FDF0E9;
    padding: 135px;
    padding: 135px;
    padding: 135px;
    padding: 135px;
    display: flex;
    justify-content: space-between;

}

.container1-light-col {
    background-color: #FDF0E9;
    padding: 40px 135px 0px 135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.container-light2 {
    background-color: #F9E5DA;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    align-items: center;
}

.container2 {
    margin-left: 16px;
    margin-right: 16px;

}

.container-full {
    background-color: #FDF0E9;
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.container-full-2 {
    background-color: #FDF0E9;
    padding-top: 100px;



}

.container-center {
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 139px;
    display: flex;
    justify-content: center;
}




/* images */

.img-width1 {
    width: 100%;
}

.width5 {
    width: 50%;
}

.width2 {
    width: 55%;
}

.icon-small-wd {
    width: 12px;
    height: 7px;
}


.img-width4 {
    width: 16.6%;
}

.img-small {
    width: 80px;
    margin-right: 24px;
}

.icon {
    width: 32px;
}

.logo-icon {
    display: flex;
    align-items: center;
}

.logo-width {
    width: 15%;
}

.logo-icon-width {
    width: 45px;
    height: 43px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.trngl-rotate {
    transform: rotate(180deg);
}

.main-menu {
    text-transform: capitalize;

}

.main-menu-ft {
    text-transform: capitalize;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-menu-mr {
    margin-right: 85px;
}


header {
    margin: 16px;
    margin-bottom: 122px;
}


.title {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center
}



.text-center {
    align-items: center;
    justify-content: center;
}

/* margins */
.mr-top-big {
    margin-top: 150px;
}

.mr-left {
    margin-left: 144px;
}

.mr-bottom {
    margin-bottom: 67px;
}

.mr-primary {
    margin-left: 135px;
    margin-right: 135px;
}

.mr-text {
    margin-top: 36px;
    margin-bottom: 22px;
}

.mr-star {
    margin-right: 8px;
}

.mr-trngl {
    margin-bottom: 3px;

}

.mr-top {
    margin-top: 68px;
}

.mr-right {
    margin-right: 60px;
}

.mr-img {
    margin-bottom: 32px;
}

.pd-primary {
    padding-left: 135px;
    padding-right: 135px;

}

.pd-right {
    padding-right: 130px;
}

.pd-right1 {
    padding-right: 60px;
}

.mr-icon-left {
    margin: 100px;
}

.mr-small {
    margin-top: 16px;
}

.mr-small-left {
    margin-left: 8px;
}

.text-indent {
    text-indent: 8px;
}

.pd-top {
    padding-top: 70px;

}

.pd-bottom {
    padding-bottom: 100px;

}

.pd-blue {
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 20px;
}

.pd-pic-right {
    padding: 0px 15px 30px 0px;
}
.pd-pic-left {
    padding: 0px 0px 30px 15px;
}
 .mr-pic-top {
    margin-top: 30px;
 }
 .mr-nav-small{
    margin-left:20px;
 }
/* button icons */
.button-icon-primary {
    width: 80px;
    height: 80px;
    background-color: #EF6D58;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 24px;
    border-radius: 48px;

}

.button-icon-primary-small {
    width: 48px;
    height: 48px;
    background-color: #EF6D58;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 24px;
    border-radius: 24px;

}

.button-icon-primary-smaller {
    width: 32px;
    height: 32px;
    background-color: #EF6D58;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 24px;
    margin-right: 16px;


}


.button-icon-secondary {
    width: 48px;
    height: 48px;
    background-color: white;
    filter: drop-shadow(0px 3px 9px #39140014);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 16px;
    border-radius: 24px;

}
.button-icon-secondary2 {
    width: 48px;
    height: 48px;
    background-color: white;
    filter: drop-shadow(0px 3px 9px #39140014);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 16px;
    border-radius: 6px;

}

button {
    display: flex;
    align-items: center;

}