.box {

    padding: 48px;
    border: solid #F3D1BF 1px;


}

.box6 {

    padding: 48px;
    border: solid #F3D1BF 1px;
    border-radius: 6px;
    width: 570px;



}

.box5 {

    padding-top: 48px;
    padding-bottom: 48px;
    border: solid #F3D1BF 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;

}

.box5-line-dark {

    padding-top: 48px;
    padding-bottom: 48px;
    border: solid #3A3C56 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.box1-mr-right {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 130px;
}

.border-right {
    border-radius: 0px 6px 6px 0px;
}

.border-left {
    border-radius: 6px 0px 0px 6px;
}

.border-bottom {
    border-radius: 0px 0px 6px 6px;
}

.border-top {
    border-radius: 6px 6px 0px 0px;
}


.container {
    margin-top: 116px;
    margin-bottom: 80px;


}

.container1 {
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 139px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.container1-light {
    background-color: #FDF0E9;
    padding: 135px;
    padding: 135px;
    padding: 139px;
    display: flex;
    justify-content: space-between;

}


.container-light2 {
    background-color: #F9E5DA;
    margin-left: 135px;
    margin-right: 135px;
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    align-items: center;
}

.container2 {
    margin-left: 16px;
    margin-right: 16px;

}

.container-full {
    background-color: #FDF0E9;
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.container-full-2 {
    background-color: #FDF0E9;
    margin: 0px;
    padding-top: 100px;


}

.container-center {
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 139px;
    display: flex;
    justify-content: center;
}

.border-box {
    border: solid #3A3C56 1px;
    padding: 16px;
}

.borderbox-width {
    width: 586px;
}



/* images */
.img-width {
    width: 528px;
}

.img-width1 {
    width: 170%;
}


.icon-small-wd {
    width: 12px;
    height: 7px;
}

.img-width2 {
    width: 100%;
}

.img-width3 {
    width: 50%;
}

.img-width4 {
    width: 16.6%;
}

.img-small {
    width: 80px;
    margin-right: 24px;
}

.img-icon {
    width: 12px;
}

.icon {
    width: 32px;
}

.icon-wd1 {
    width: 24imgpx;
}

.box-width {
    width: 570px;
}

.logo-width {
    width: 147px;
}


.main-menu {
    text-transform: capitalize;

}

.main-menu-mr {
    margin-right: 85px;
}


header {
    margin: 16px;
    margin-bottom: 122px;
}


.title {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center
}

.txt-center {
    text-align: center;
}

.text-center {
    align-items: center;
    justify-content: center;
}

/* margins */
.mr-top-big {
    margin-top: 150px;
}

.mr-left {
    margin-left: 144px;
}

.mr-bottom {
    margin-bottom: 67px;
}

.mr-primary {
    margin-left: 135px;
    margin-right: 135px;
}

.mr-text {
    margin-top: 36px;
    margin-bottom: 22px;
}

.mr-top {
    margin-top: 68px;
}

.mr-right {
    margin-right: 60px;
}

.mr-img {
    margin-bottom: 32px;
}

.pd-primary {
    padding-left: 135px;
    padding-right: 135px;

}

.pd-right {
    padding-right: 130px;
}

.mr-icon-left {
    margin: 100px;
}

.mr-small {
    margin-top: 16px;
}

.mr-small-left {
    margin-left: 8px;
}

.text-indent {
    text-indent: 8px;
}

.pd-top {
    padding-top: 70px;

}

.pd-blue {
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 20px;
}

/* button icons */
.button-icon-primary {
    width: 80px;
    height: 80px;
    background-color: #EF6D58;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 24px;
    border-radius: 48px;

}

.button-icon-primary-small {
    width: 48px;
    height: 48px;
    background-color: #EF6D58;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 24px;
    border-radius: 24px;
    margin-top: 16px;

}

.button-icon-primary-smaller {
    width: 48px;
    height: 48px;
    background-color: #EF6D58;
    justify-content: center;
    align-items: center;
    display: flex;

    border-radius: 24px;

}


.button-icon-secondary {
    width: 48px;
    height: 48px;
    background-color: white;
    filter: drop-shadow(0px 3px 9px #39140014);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-right: 16px;
    border-radius: 24px;

}

button {
    display: flex;
    align-items: center;
}