/* colors */
.bg-blue {
    background-color: #28293E;

}

.bg-light {
    background-color: #FDF0E9;
}

.bg-light2 {
    background-color: #F9E5DA;
}

.bg-blue {
    background-color: #28293E;
}

.bg-white {
    background-color: white;
}

.bg-red {
    background-color: #EF6D58;
    border-radius: 6px;
    padding: 80px;
}

/* buttons */



.button-pink {
    background-color: #EF6D58;
    font-size: 14px;
    color: white;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 48px;
    margin-top: 26px;
    font-family: 'Epilogue';
    font-weight: bold;
    border-radius: 6px;
}



.button-purple {
    background-color: #B550F8;
    font-size: 14px;
    color: white;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    width: 170px;
    height: 48px;
    font-family: 'Epilogue';
    font-weight: bold;
    border-radius: 6px;

}

.button-border {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    line-height: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #F3D1BF;
    width: 170px;
    height: 48px;
    font-family: 'Epilogue';
    font-weight: bold;
    border-radius: 6px;
}

.button-white {
    background-color: white;
    font-size: 14px;
    color: #391400;
    text-transform: uppercase;
    line-height: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 3px 9px #39140014);
    border-radius: 6px;
    width: 170px;
    height: 48px;
    font-family: 'Epilogue';
    font-weight: bold;
}

.button-white1 {
    background-color: white;
    text-transform: capitalize;
    border-radius: 19px;
    font-size: 16px;
    color: #391400;
    font-family: 'Epilogue';
    text-align: center;
    height: 38px;
    padding: 10px;
    margin-bottom: 25px;

}

.field {
    width: 270px;
    height: 48px;
    background-color: white;
    border: solid 1px #F3D1BF;
    margin-right: 16px;
    border-radius: 6px;
    padding-left: 16px;
    padding-top: 10px;

}

.form1 {
    width: 100%;
    height: 48px;
    background-color: white;
    border: solid 1px #F3D1BF;
    margin-right: 16px;
    border-radius: 6px;
    padding-left: 16px;
    padding-top: 10px;
}

textarea {
    height: 128px;
    background-color: white;
    border: solid 1px #F3D1BF;
    margin-right: 16px;
    border-radius: 6px;
    padding-left: 16px;
    padding-top: 10px;
    width: 100%;
}


/* text */

h1 {
    font-size: 72px;
    color: #391400;
    line-height: 80px;
    letter-spacing: 2px;
    font-family: 'Epilogue';
    font-weight: bold;


}

h2 {
    font-size: 56px;
    color: #391400;
    line-height: 64px;
    letter-spacing: -2px;
    font-family: 'Epilogue';
    font-weight: bold;
}

.txt-center {
    text-align: center;
}

h3 {
    font-size: 40px;
    color: #391400;
    line-height: 48px;
    letter-spacing: -1px;
    font-family: 'Epilogue';
    font-weight: bold;
}

h4 {
    font-size: 24px;
    color: #391400;
    line-height: 32px;
    font-family: 'Epilogue';
    font-weight: bold;
}

h5 {
    font-size: 16px;
    color: #EF6D58;
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: 3px;
    margin-bottom: 31px;
    font-family: 'Epilogue';
    font-style: normal;
}
.h5-no-mr {
    font-size: 16px;
    color: #EF6D58;
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: 3px;
    font-family: 'Epilogue';
    font-style: normal;
}

.h5-center {
    font-size: 16px;
    color: #EF6D58;
    text-transform: uppercase;
    text-align: center;
    line-height: 32px;
    letter-spacing: 3px;
    margin-bottom: 31px;
    font-family: 'Epilogue';
    font-style: normal;
}

.label {
    font-size: 12px;
    color: #391400;
    line-height: 12px;
    font-family: 'Epilogue';
    font-weight: bold;
}


.text-big {
    font-size: 20px;
    color: #391400;
    line-height: 32px;
    font-family: 'Epilogue';
    font-style: normal;
}

.text {
    font-size: 16px;
    color: #391400;
    line-height: 32px;
    font-family: 'Epilogue';
    font-style: normal;
}

.text-gray {
    font-size: 16px;
    color: #391400A3;
    line-height: 32px;
    font-family: 'Epilogue';
    font-style: normal;
}

.text-gray2 {
    font-size: 16px;
    color: #391400A3;
    font-family: 'Epilogue';
    font-style: normal;
    padding: 0px 9px 0px 0px;
}

.txt-dark {
    color: #391400;
}

.txt-dark-small {
    font-size: 14px;
    color:#391400;
    line-height: 14px;
    font-family: 'Epilogue';
    font-style: normal;
}

.text-small {
    font-size: 14px;
    color: #391400A3;
    line-height: 24px;
    font-family: 'Epilogue';
    font-style: normal;
}

.text-small-nmb {
    font-size: 14px;
    color: #391400A3;
    font-family: 'Epilogue';
    font-style: normal;
    text-align: end;
}

.text-line {
    text-transform: inherit;
}

/* on dark background */
.white {
    color: white;
}

.text-gray-white {
    font-size: 16px;
    color: #FFFFFFA3;
    line-height: 32px;
    font-family: 'Epilogue';
    font-style: normal;
}

.text-small-white {
    font-size: 14px;
    color: #FFFFFFA3;
    line-height: 24px;
    font-family: 'Epilogue';
    font-style: normal;
}

.appercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}


.align-center {
    align-items: center;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between
}

.justify-end {
    justify-content: end;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: end;
}

.absolute {
    position: absolute;
    bottom: 54px;
    left: 48px;
}

.absolute2 {
    position: absolute;
    bottom: 122px;
    left: 48px;
}
.absolute3 {
    position: absolute;
    top: 10%;
}
.absolute4 {
    position: absolute;
    top:50%;
    right:15%
}
.star {
    position: absolute;
    bottom: -210px;

}

.star-p2 {
    position: absolute;
    bottom: -80px;

}

.relative {
    position: relative;
}

/* burger menu */
.burger-menu {
    align-items: center;
    border: 1px solid #F3D1BF;
    height: 48px;
    border-radius: 6px;
    padding: 12px 15px 10px 15px;
    display: none;
}

span {
    width: 16px;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
    display: block;
}

.burger-menu-nav {
    background-color: #EF6D58;
    position: fixed;
    top: 0px;
    left: -120%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    padding-top: 135px;
    transition: .3s;
    color: white;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.color-red {
    background-color:#EF6D58;
}
 .form1.mr-small.text-gray.after-rsp {
    display: none;
 }